# Final Project

## By Josh Hartzfeld

1. (5 points) Create a DDL file based on the following ER diagram (You may use dbdiagram.io as demonstrated in class
or you may create the tables manually). Make sure to represent the keys (primary and foreign) in your DDL. Add your
DDL file as Markdown color-coded SQL statements to your notebook.

```sql
CREATE DATABASE imdb_movies;
USE imdb_movies;

CREATE TABLE directors (
    id INT(11),
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    PRIMARY KEY (id)
);

CREATE TABLE movies (
    id INT(11),
    name VARCHAR(100),
    year INT(11),
    `rank` FLOAT,
    PRIMARY KEY (id)
);

CREATE TABLE movies_directors (
    director_id INT(11),
    movie_id INT(11),
    PRIMARY KEY (director_id , movie_id),
    FOREIGN KEY (director_id)
        REFERENCES directors (id),
    FOREIGN KEY (movie_id)
        REFERENCES movies (id)
);

CREATE TABLE directors_genres (
    director_id INT(11),
    genre VARCHAR(100),
    prob FLOAT,
    PRIMARY KEY (director_id , genre),
    FOREIGN KEY (director_id)
        REFERENCES directors (id)
);

CREATE TABLE movies_genres (
    movie_id INT(11),
    genre VARCHAR(100),
    PRIMARY KEY (movie_id, genre),
    FOREIGN KEY (movie_id)
        REFERENCES movies (id)
);

CREATE TABLE actors (
    id INT(11),
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    gender CHAR(1),
    PRIMARY KEY (id)
);

CREATE TABLE roles (
    actor_id INT(11),
    movie_id INT(11),
    PRIMARY KEY (movie_id , actor_id, role),
    FOREIGN KEY (movie_id)
        REFERENCES movies (id),
    FOREIGN KEY (actor_id)
        REFERENCES actors (id)
);


```

2. (5 points) In a Jupyter Notebook, write code either in Python, Java or C, or another imperative language, to create
a database named imdb_movies; then use code to connect to your DB instance and create each of the tables in your
DDL file. Do not rename the tables or any attributes in the ER diagram.

In [128]:
import mysql.connector

In [133]:
db = mysql.connector.connect(host='localhost', port='3306',user='root',password='-=ZF=-6969')
if db:
    print("Connected")
    cursor = db.cursor()

Connected

In [130]:

DDLFile = open('finalDDL.txt','r', encoding='utf-8')

print("DB Modifications: ")
counter = 0
for line in DDLFile:
    if line != '\n':
        cursor.execute(line)
        counter += 1
        print(counter, end='\r')

DB Modifications:

3. (5 points) Write code using the language chosen in question 2 above to connect to your DB instance and insert the
data from each of the DDL files provided on Canvas into the your imdb_movies database. Display the number of
rows affected for each table (1 cumulative count for all inserts per table - example: 388269 rows inserted for table
movies).

In [131]:
table_names = ['actors','directors','directors_genres','movies','movies_directors','movies_genres','roles']
#temp = ['roles']
#  'final_project_imdb_ddl/'+each+'.sql'
for each in table_names:
    with open('final_project_imdb_ddl/'+each+'.sql','r',encoding='utf-8') as f:
        print('Entries inserted in table '+ each + ':')
        counter = 0
        for line in f:
            #print(line)
            if line != "\n":
                cursor.execute(line)
                db.commit()
                counter += 1
                print(counter, end='\r')
        print('\n')

Entries inserted in table actors:
817718

Entries inserted in table directors:
86880

Entries inserted in table directors_genres:
156562

Entries inserted in table movies:
388269

Entries inserted in table movies_directors:
371180

Entries inserted in table movies_genres:
395119

Entries inserted in table roles:
3431966

4. (10 points) Write and execute a query that returns a count of all movies in the database where the rank column is
not NULL. Print out only the count.

In [136]:
query = "SELECT count(*) FROM movies WHERE `rank`IS NOT NULL;"
cursor.execute(query)
for each in cursor:
    print("Total non-null objects: "+ str(each[0]))

Total non-null objects: 67245