# Activity 3

### Joshua Hartzfeld
### CSE 4020

### Question 1

Execute a single query to return and print out the total assets owned by the bank ( i.e., a cumulative
total of the assets at all branches)

In [1]:
import mysql.connector

In [2]:

db = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',database='bank',user='admin',password='-=ZF=-6969')
cursor = db.cursor()
#getting branch table for reference
cursor.execute('SELECT * FROM branch order by assets desc')
print(f"Branch Name{' ':3} Branch City{' ':3} assets")
for x in cursor:
    num = '{:,}'.format(x[2])
    print(f"{x[0]:<14} {x[1]:<14} ${num}")

#getting total (THE TOTAL QUERY)
cursor.execute("SELECT SUM(assets) FROM branch")
for x in cursor:
    num = '{:,}'.format(x[0])
    print(f"Total:{' ':23} ${num}")

Branch Name    Branch City    assets
Round Hill     Horseneck      $7,000,000.00
Brighton       Brooklyn       $6,125,000.00
North Town     Rye            $3,237,500.00
Redwood        Palo Alto      $2,489,583.33
Perryridge     Horseneck      $2,089,583.33
Downtown       Brooklyn       $1,289,583.33
Central        Rye            $789,863.33
Mianus         Horseneck      $789,783.33
Pownal         Bennington     $789,583.33
Total:                        $24,600,479.98

### Question 2

(10 points) Create a trigger named maintain_branch_size on your branch table that ensures that a small
branch does not become a large branch (i.e., that its total assets never gets to 3 million dollars). Whenever an
update to the assets of a small branch is attempted that would cause it to become a large branch, your trigger
should store this excess money in a temporary table (e.g. bailout_cache) to be later divided equally among the
existing large branches, capping the small branch at 2,999,999.99 in total assets.

In [3]:
db = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',database='bank',user='admin',password='-=ZF=-6969')
cursor = db.cursor(buffered=True)

In [4]:
# trigger query
bailout_cache_table_query = "CREATE TABLE bailout_cache(cash DECIMAL(10,2))"
query = "CREATE TRIGGER maintain_branch_size BEFORE UPDATE ON branch FOR EACH ROW BEGIN DECLARE excess_cash DECIMAL (10,2); IF NEW.assets > 2999999.99 AND OLD.assets < 2999999.99 THEN SET excess_cash = NEW.assets - 2999999.99; INSERT INTO bailout_cache (cash) VALUES (excess_cash); SET NEW.assets = 2999999.99; END IF; END;"
cursor.execute(bailout_cache_table_query)
cursor.execute(query)

### Question 3

In [5]:
#db2 = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',database='bank',user='admin',password='-=ZF=-6969')
#cursor2 = db2.cursor()
query2 = "UPDATE branch SET assets = assets + (10000000 / 6) WHERE assets < 3000000;"
cursor.execute(query2)
db.commit()

In [6]:
#db3 = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',database='bank',user='admin',password='-=ZF=-6969')
#cursor3 = db3.cursor()

cursor.execute('SELECT * FROM branch order by assets desc')
print(f"Branch Name{' ':3} Branch City{' ':3} assets")
for x in cursor:
    num = '{:,}'.format(x[2])
    print(f"{x[0]:<14} {x[1]:<14} ${num}")

Branch Name    Branch City    assets
Round Hill     Horseneck      $7,000,000.00
Brighton       Brooklyn       $6,125,000.00
North Town     Rye            $3,237,500.00
Perryridge     Horseneck      $2,999,999.99
Redwood        Palo Alto      $2,999,999.99
Downtown       Brooklyn       $2,956,250.00
Central        Rye            $2,456,530.00
Mianus         Horseneck      $2,456,450.00
Pownal         Bennington     $2,456,250.00

### Question 4

In [7]:
#db4 = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',database='bank',user='admin',password='-=ZF=-6969')
#cursor4 = db4.cursor()
query4 = "UPDATE branch b SET b.assets = b.assets + ((SELECT SUM(cash) FROM bailout_cache)/3) WHERE b.assets > 3000000;"

cursor.execute(query4)
db.commit()

In [8]:
cursor.execute("SELECT * FROM branch order by assets desc")
print(f"Branch Name{' ':3} Branch City{' ':3} assets")
for x in cursor:
    num = '{:,}'.format(x[2])
    print(f"{x[0]:<14} {x[1]:<14} ${num}")

Branch Name    Branch City    assets
Round Hill     Horseneck      $7,637,500.01
Brighton       Brooklyn       $6,762,500.01
North Town     Rye            $3,875,000.01
Perryridge     Horseneck      $2,999,999.99
Redwood        Palo Alto      $2,999,999.99
Downtown       Brooklyn       $2,956,250.00
Central        Rye            $2,456,530.00
Mianus         Horseneck      $2,456,450.00
Pownal         Bennington     $2,456,250.00

### Question 5

In [9]:
cursor.execute('SELECT * FROM branch order by assets desc')
print(f"Branch Name{' ':3} Branch City{' ':3} assets")
for x in cursor:
    num = '{:,}'.format(x[2])
    print(f"{x[0]:<14} {x[1]:<14} ${num}")

#getting total (THE TOTAL QUERY)
cursor.execute("SELECT SUM(assets) FROM branch")
for x in cursor:
    num = '{:,}'.format(x[0])
    print(f"Total:{' ':23} ${num}")

Branch Name    Branch City    assets
Round Hill     Horseneck      $7,637,500.01
Brighton       Brooklyn       $6,762,500.01
North Town     Rye            $3,875,000.01
Perryridge     Horseneck      $2,999,999.99
Redwood        Palo Alto      $2,999,999.99
Downtown       Brooklyn       $2,956,250.00
Central        Rye            $2,456,530.00
Mianus         Horseneck      $2,456,450.00
Pownal         Bennington     $2,456,250.00
Total:                        $34,600,480.01

In [10]:
db.close()