# Activity 1

### Joshua Hartzfeld
### CSE 4020

#### Question 1
In a Jupyter Notebook, write code either in Python, Java or C to connect to your AWS RDS
instance and insert the data from each of the CSV files into the RDS database that you created on AWS on
Activity 1. Display the number of rows affected for each table (1 cumulative count for all inserts per table
- example: 15 rows inserted for table customer). (Hint: If your data types do not match the given data,
you may use the following SQL statement to update your data types: ALTER TABLE table_name MODIFY
column_name NEW_DATA_TYPE;)

In [1]:
import mysql.connector

In [2]:
# updating bank DB to fix some column values

import mysql.connector

#connection made ignore my password
db = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',user='admin',password='-=ZF=-6969')

#setting up channel and opening file
cursor = db.cursor()
DDLFile = open('hw1ddl.sql', encoding='utf-8')

#executes each line straight too AWS DB "bank"
for line in DDLFile:
    cursor.execute(line)

In [3]:
#starting to import csvs
from csv import reader
csv_tem = "{}.csv"
tables = ["branch","account","depositor","customer","loan","borrower"]
for each in tables:
    with open(csv_tem.format(each)) as csv_file:
        csv_reader = reader(csv_file)
        sql_command = """INSERT INTO {}({}) VALUES({});"""
        num_wildcards = 0
        
        for i, row in enumerate(csv_reader):
            counter = 0
            if i == 0:
                header = row
                #print(header)
            else:
                num_wildcards = len(row)
                wildcards = ['%s'] * num_wildcards
                wildcard_str = ', '.join(wildcards)
            
                header_str = ', '.join(header)
                #print(wildcard_str)
                #print(wildcards)
                record = tuple(row)
                #print(record)
                sql_command = sql_command.format(each, header_str, wildcard_str)
                #print(sql_command)
                cursor.execute(sql_command, record)
                db.commit()
                
                print('\r',f"{each} {i} rows affected", end='')
        print('\n')
            
db.close()

branch 9 rows affected

account 9 rows affected

depositor 10 rows affected

customer 15 rows affected

loan 9 rows affected

borrower 10 rows affected

### Question 2
Write code to issue queries on your database and display your results for the following scenarios. Make sure
to print out a tabulation of your branch table ordered by assets in descending order to show the
data before and after the changes.

A branch of the bank is considered a large branch if it has assets >= 3 million dollars. Imagine that COVID-
19 affected the bank terribly and the branches with assets >= 3 million dollars had to liquidate 12.5% of
their assets to help the smaller branches (branches with assets < 3 million dollars).

### a)
Isue a single query that returns the branch_name, branch_city, and assets of the branches
that will be liquidated based on the liquidation formula above.

In [4]:
db = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',database='bank',user='admin',password='-=ZF=-6969')
cursor = db.cursor()
cursor.execute("SELECT branch_name, branch_city FROM branch WHERE assets >= 3000000 order by assets desc")
print(f"Branch Name{' ':3} Branch City")
for x in cursor:
    print(f"{x[0]:<14} {x[1]}")
db.close()

Branch Name    Branch City
Round Hill     Horseneck
Brighton       Brooklyn
North Town     Rye

### b)
Issue an update query that reduces the assets for the large branches by the liquidation formula
above.

In [5]:
db = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',database='bank',user='admin',password='-=ZF=-6969')
cursor = db.cursor()

In [6]:
#doing calculations to store data for next part
data = []
cursor.execute('SELECT assets FROM branch WHERE assets >= 3000000')
for x in cursor:
    print(x[0])
    result = (int(x[0])*.125)
    data.append(result)
print(data)

7000000.00
3700000.00
8000000.00
[875000.0, 462500.0, 1000000.0]

In [7]:
#before
cursor.execute('SELECT * FROM branch order by assets desc')
print(f"Branch Name{' ':3} Branch City{' ':3} assets")
for x in cursor:
    print(f"{x[0]:<14} {x[1]:<14} {x[2]}")

Branch Name    Branch City    assets
Round Hill     Horseneck      8000000.00
Brighton       Brooklyn       7000000.00
North Town     Rye            3700000.00
Redwood        Palo Alto      2100000.00
Perryridge     Horseneck      1700000.00
Downtown       Brooklyn       900000.00
Central        Rye            400280.00
Mianus         Horseneck      400200.00
Pownal         Bennington     400000.00

In [8]:
cursor.execute("UPDATE branch SET assets = assets - (assets * .125) where assets >= 3000000")

In [9]:
#after
cursor.execute('SELECT * FROM branch order by assets desc')
print(f"Branch Name{' ':3} Branch City{' ':3} assets")
for x in cursor:
    print(f"{x[0]:<14} {x[1]:<14} {x[2]}")

Branch Name    Branch City    assets
Round Hill     Horseneck      7000000.00
Brighton       Brooklyn       6125000.00
North Town     Rye            3237500.00
Redwood        Palo Alto      2100000.00
Perryridge     Horseneck      1700000.00
Downtown       Brooklyn       900000.00
Central        Rye            400280.00
Mianus         Horseneck      400200.00
Pownal         Bennington     400000.00

### c)
issue an update query that divides equally the total amount liquidated among the small branches.

In [10]:
#getting distribution value
result = 0
for each in data:
    result = result + int(each)
    
total = result/6

In [11]:
#before
cursor.execute('SELECT * FROM branch order by assets desc')
print(f"Branch Name{' ':3} Branch City{' ':3} assets")
for x in cursor:
    print(f"{x[0]:<14} {x[1]:<14} {x[2]}")

Branch Name    Branch City    assets
Round Hill     Horseneck      7000000.00
Brighton       Brooklyn       6125000.00
North Town     Rye            3237500.00
Redwood        Palo Alto      2100000.00
Perryridge     Horseneck      1700000.00
Downtown       Brooklyn       900000.00
Central        Rye            400280.00
Mianus         Horseneck      400200.00
Pownal         Bennington     400000.00

In [12]:
#db = mysql.connector.connect(host='bankdb.c8vwdpg3sx2q.us-east-1.rds.amazonaws.com',database='bank',user='admin',password='-=ZF=-6969')
#cursor = db.cursor()
sql_string = """UPDATE branch SET assets = assets + {} where assets < 3000000"""
sql_string = sql_string.format(total)
cursor.execute(sql_string)

In [13]:
#after
cursor.execute('SELECT * FROM branch order by assets desc')
print(f"Branch Name{' ':3} Branch City{' ':3} assets")
for x in cursor:
    print(f"{x[0]:<14} {x[1]:<14} {x[2]}")

Branch Name    Branch City    assets
Round Hill     Horseneck      7000000.00
Brighton       Brooklyn       6125000.00
North Town     Rye            3237500.00
Redwood        Palo Alto      2489583.33
Perryridge     Horseneck      2089583.33
Downtown       Brooklyn       1289583.33
Central        Rye            789863.33
Mianus         Horseneck      789783.33
Pownal         Bennington     789583.33

### d)
Use a single query to fetch and display a tabulation showing the customer_name, cus-
tomer_city, and account_number of all customers who have accounts at a small branch. Include the
branch_name and assets in your results and order your results by assets in descending order

In [14]:
cursor.execute('SELECT d.customer_name, c.customer_city, a.account_number, b.branch_name, b.assets FROM branch b JOIN account a ON a.branch_name = b.branch_name JOIN depositor d ON d.account_number = a.account_number JOIN customer c ON c.customer_name = d.customer_name WHERE assets < 3000000 order by assets desc')
print(f"customer_name{' ':3} customer_city{' ':3} account_number{' ':3} branch_name{' ':3} assets")
for each in cursor:
    print(f"{each[0]:<16} {each[1]:<16} {each[2]:<17} {each[3]:<14} {each[4]:<9}")

customer_name    customer_city    account_number    branch_name    assets
Lindsay          Pittsfield       A-222             Redwood        2489583.33
Hayes            Harrison         A-102             Perryridge     2089583.33
Johnson          Palo Alto        A-201             Perryridge     2089583.33
Hayes            Harrison         A-101             Downtown       1289583.33
Johnson          Palo Alto        A-101             Downtown       1289583.33
Majeris          Rye              A-333             Central        789863.33
Smith            Rye              A-215             Mianus         789783.33

In [15]:
db.commit()

In [16]:
db.close()